# Series
- 데이터가 순차적으로 나열된 1차원 배열의 형태

In [1]:
# Dictionary - Series
import pandas as pd
import numpy as np

In [2]:
# Dictionary 
dict_data = {
  'a' : 1, 
  'b' : 2, 
  'c' : 3
}

dict_data

{'a': 1, 'b': 2, 'c': 3}

In [3]:
# Series 로 변환 
sr = pd.Series(dict_data)   # key 가  index  역할을 한다 
sr

a    1
b    2
c    3
dtype: int64

In [4]:
sr['a']

1

### List -> Series

In [5]:
list_data = ['2021-12-31', 3.14, 'abc', 100, True]
list_data

['2021-12-31', 3.14, 'abc', 100, True]

In [6]:
sr = pd.Series(list_data)
sr

0    2021-12-31
1          3.14
2           abc
3           100
4          True
dtype: object

In [7]:
sr[2]

'abc'

In [11]:
# index와 value 를 따로 저장 
index = sr.index
value = sr.values

print("Index =>", list(index))
print("values =>", list(value))

Index => [0, 1, 2, 3, 4]
values => ['2021-12-31', 3.14, 'abc', 100, True]

### Tuple -> Series

In [12]:
tuple_data =('유비', '2020-12-31', '남', False)
sr = pd.Series(tuple_data)
sr

0            유비
1    2020-12-31
2             남
3         False
dtype: object

In [13]:
# index 에 이름 달기 
sr = pd.Series(tuple_data, 
               index=['이름','생년월일','성별','학생여부']
               )
sr

이름              유비
생년월일    2020-12-31
성별               남
학생여부         False
dtype: object

## Series 에서 Data 선택하기

In [15]:
# 한개의 Index 선택
print(sr['이름'])
print(sr[0])

유비
유비

C:\Users\KDT\AppData\Local\Temp\ipykernel_6008\2057440721.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])

In [18]:
# 두개의 Index 선택 
print(sr[['생년월일', '성별']])
print(sr[[1,2]])

생년월일    2020-12-31
성별               남
dtype: object
생년월일    2020-12-31
성별               남
dtype: object

C:\Users\KDT\AppData\Local\Temp\ipykernel_6008\1860602305.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[1,2]])

In [19]:
# 범위로  index  선택 

print(sr['이름':'성별'])

이름              유비
생년월일    2020-12-31
성별               남
dtype: object

## Seris 의 연산

In [20]:
student = pd.Series(
  {
    '국어' : 100,
    '영어' : 80,
    '수학' : 90
  }
)

student

국어    100
영어     80
수학     90
dtype: int64

In [21]:
# 과목의 점수를 100으로 나누기 
student / 100

국어    1.0
영어    0.8
수학    0.9
dtype: float64

### Series 간의 연산

In [22]:
student1 = pd.Series(
  {
    '국어' : 100,
    '영어' : 80,
    '수학' : 90
  }
)

student1

국어    100
영어     80
수학     90
dtype: int64

In [24]:
student2 = pd.Series(
  {
    '수학' : 80,
    '국어' : 90,
    '영어' : 80    
  }
)

student2

수학    80
국어    90
영어    80
dtype: int64

In [27]:
# 덧셈 
addition = student1 + student2
addition

국어    190
수학    170
영어    160
dtype: int64

In [29]:
# 뺄셈
substraction = student1 - student2
substraction

국어    10
수학    10
영어     0
dtype: int64

In [30]:
# 곱셍
multiplication = student1 * student2
multiplication

국어    9000
수학    7200
영어    6400
dtype: int64

In [31]:
# 나눗셈 
division = student1 / student2
division

국어    1.111111
수학    1.125000
영어    1.000000
dtype: float64

In [33]:
# 사칙연산 결과를 데이터프레임으로 만들기 
result = pd.DataFrame(
  [addition, substraction, multiplication, division],
  index =['덧셈','뺄셈','곱셈','나눗셈']
)

result

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

### Nam 값이 있는 연산

In [34]:
student1 = pd.Series (
  {
    '국어' : np.nan,
    '영어' : 80,
    '수학' : 90
  }
)

student1

국어     NaN
영어    80.0
수학    90.0
dtype: float64

In [35]:
student2 = pd.Series(
  {
    '수학' : 80,
    '국어' : 90
  }
)

student2

수학    80
국어    90
dtype: int64

In [37]:
# 연산
addition = student1 + student2
substraction = student1 - student2
multiplication = student1 * student2
division = student1 / student2

#addition

국어      NaN
수학    170.0
영어      NaN
dtype: float64

> 연산에서 객체 사이에 공통 인덱스가 없거나 NaN이 포함된 연산결과는  NaN 으로 변환

In [39]:
# 사틱 연산을 위한 DataFrame 만들기 
result = pd.DataFrame(
  [addition, substraction, multiplication, division],
  index =['덧셈','뺄셈','곱셈','나눗셈']
)

result

              국어        수학      영어
덧셈           NaN   170.000     NaN
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [42]:
# NaN 대신 순자 0으로 대체한다 
addition = student1.add(student2, fill_value=0)
substraction = student1.sub(student2, fill_value=0)
multiplication = student1.mul(student2, fill_value=0)
division = student1.div(student2, fill_value=0)

result = pd.DataFrame(
  [addition, substraction, multiplication, division],
  index =['덧셈','뺄셈','곱셈','나눗셈']
)

result

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf